body{
font-family: Arial, sans-serif;
min-height:100vh;
display:flex;
flex-direction:column;
}

.hero-section{
background-color:#343a40;
color:white;
padding:100px 20px;
}

.hero-section h1{
font-size:48px;
font-weight:bold;
}

.hero-section p{
font-size:20px;
}

.container{
flex:1;
}

.footer{
background:#212529;
color:white;
padding:20px;
margin-top:auto;
}

.profile-box{
background:#212529;
padding:15px;
border-radius:50%;
display:inline-block;
margin-bottom:20px;
}

.form-container{
max-width:800px;
margin:auto;
background:white;
padding:40px;
border-radius:10px;
box-shadow:0 10px 25px rgba(0,0,0,0.2);
}
.profile-img{
width:70px;
height:70px;
border-radius:50%;
object-fit:cover;
border:3px solid white;
display: block;
margin:0 auto 15px auto;
}
